.cabecalho {
    background: var(--roxo);
    color: var(--branco);
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.cabecalho__nome {
    display: flex;
    margin: 10px 0;
}

.cabecalho__icone {
    width: 40px;
    padding-right: 10px;
    margin-top: 10px;
    
}

.cabecalho__titulo {
    align-items: center;
    color: var(--amarelo);
    display: flex;
    font-family: var(--tektur);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 10px;
    justify-content: flex-start;
}

.cabecalho__nav {
    align-items: center;
    display: flex;
    font-family: var(--quicksand);
    position: relative;
    padding: 10px 0;
}

.cabecalho__items {
    color: var(--amarelo);
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    padding: 10px;
}

.cabecalho__items:hover {
    border-bottom: 2px solid var(--amarelo);
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
      .cabecalho{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}