.sobre__mim {
    background: var(--amarelo);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}



.sobre__texto {
    color: var(--branco);
    padding: 10px 50px 10px 50px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .sobre__texto {
        margin: 2%;
        padding: 10px 30px;
    }
}